<div class="modal-header">
    <h4 class="modal-title">Bevestiging</h4>
    <button type="button"
            class="close"
            aria-label="Sluiten"
            (click)="modal.close(false)">
        <i class="fa fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <p>{{inhoud}}</p>
</div>
<div class="modal-footer">
    <button type="button"
            class="btn btn-{{type}}"
            (click)="modal.close(true)">Ja</button>
    <button type="button"
            class="btn btn-outline-secondary"
            (click)="modal.close(false)">Nee</button>
</div>