<app-loader *ngIf="laadtLiturgieen"
            tekst="Bezig met het ophalen van je liturgieen"></app-loader>
<app-error *ngIf="foutmelding"
           [tekst]="foutmelding"
           [retry]="true"
           (close)="verwijderFoutmelding($event)"></app-error>
<div *ngIf="liturgieen"
     class="list-group">
  <a class="btn btn-xs btn-secondary"
     [routerLink]="['/', routingNames.NIEUWELITURGIE]">
    <i class="fa fa-plus"
       aria-hidden="true"></i> Nieuwe liturgie
  </a>
  <a class="list-group-item list-group-item-action"
     [routerLink]="['/',routingNames.LITURGIE, liturgie.id]"
     *ngFor="let liturgie of liturgieen">
    <span class="badge badge-secondary"
          [ngbTooltip]="'Publicatie: ' + (liturgie.publicatiedatum | date:'medium')"
          placement="top">
      <i *ngIf="!gepubliceerd(liturgie.publicatiedatum)"
         class="fa fa-clock-o"
         aria-hidden="true"></i>
      <i *ngIf="gepubliceerd(liturgie.publicatiedatum)"
         class="fa fa-check"
         aria-hidden="true"></i>
      {{liturgie.aanvangsdatum | date:'medium'}}</span>
    {{liturgie.titel}}
  </a>
  <a class="list-group-item list-group-item-info">
    <i class="fa fa-check"
       aria-hidden="true"></i> Gepubliceerd
    <i class="fa fa-clock-o"
       aria-hidden="true"></i> Nog niet gepubliceerd
    <i class="fa fa-times"
       aria-hidden="true"></i> Verborgen
  </a>
</div>
