<div *ngIf="!isExample"
     class="alert alert-secondary">
  <h1 class="display-4"
      i18n="@@newLiturgyTitle">Nieuwe liturgie</h1>
  <p>Hier kunt u een nieuwe liturgie opstellen.
    <a routerLink="/voorbeeld"
       i18n="@@newLiturgyIntroduction">Klik hier voor een voorbeeld</a>.
  </p>
</div>
<div *ngIf="isExample"
     class="jumbotron">
  <h1 class="display-4"
      i18n="@@examplePageTitle">Voorbeeld</h1>
  <p i18n="@@examplePageIntroduction">Een liturgie samenstellen is zo gedaan. Hieronder is een voorbeeld ingevuld. Probeer velden te wijzigen en bekijk het resultaat.
  </p>
</div>
<div class="card">
  <div class="card-header">
    <h3>
      <span [innerText]="liturgie.naam"></span>
      <small class="text-muted"
             [innerText]="liturgie.aanvangsDatum | date"></small>
    </h3>
  </div>
  <div class="card-body">
    <div ngbDropdown
         class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdown1"
                ngbDropdownToggle>Actie</button>
        <div class="dropdown-menu"
             aria-labelledby="dropdown1"
             ngbDropdownMenu>
          <button class="dropdown-item">Actie</button>
          <button class="dropdown-item">Schriftlezing</button>
          <button class="dropdown-item">Lied</button>
          <button class="dropdown-item">Anders</button>
        </div>
      </div>
      <input type="text"
             class="form-control"
             aria-label="Text input with dropdown button">
    </div>
  </div>
</div>
