<app-loader *ngIf="loading"
            tekst="Bezig met het versturen van de liturgie."></app-loader>
<app-error *ngIf="foutmelding"
           [tekst]="foutmelding"
           [retry]="retry"
           (close)="verwijderFoutmelding($event)"></app-error>
<div class="jumbotron">
  <h1 class="display-4"
      i18n="@@newLiturgyTitle">Nieuwe liturgie</h1>
  <p class="lead">Hier kun je een nieuwe liturgie opstellen.
    <a [routerLink]="['/',routingNames.VOORBEELD]"
       i18n="@@newLiturgyIntroduction">Klik hier</a> voor een voorbeeld.
  </p>
</div>
<app-liturgie-bewerken [liturgie]="liturgie"
                       [enabled]="!loading"
                       (saveLiturgie)="verstuurLiturgie()">
</app-liturgie-bewerken>
<app-warning tekst="Deze liturgie is nog niet opgeslagen."></app-warning>