<div class="jumbotron">
  <h1 class="display-4"
      [innerText]="title"></h1>
  <p class="lead">Online liturgieen genereren.</p>
  <hr class="my-4">
  <p>Klaar met het gedoe om elke keer weer teksten bij elkaar te zoeken en in een tekstverwerker te moeten plakken? Met {{title}}
    kun je online een liturgie laten genereren, opslaan, verspreiden en eventueel uitprinten.
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg"
       [routerLink]="['/',routingNames.VOORBEELD]"
       role="button">Lees meer over de werking</a>
    <a class="btn btn-secondary btn-lg"
       [routerLink]="['/',routingNames.NIEUWELITURGIE]"
       role="button">Maak een liturgie</a>
  </p>
</div>
