<div class="card"
     *ngIf="liturgie">
  <div class="card-header">
    <h3>
      <div class="row justify-content-md-center">
        <div class="col-md-auto">
          <app-changeable-text [value]="liturgie.titel"
                               placeholderText="Titel van liturgie"
                               (changedValue)="updateLiturgieNaam($event)"></app-changeable-text>
        </div>
        <!-- <div class="col-md-auto">
          <small class="text-muted">
            <app-changeable-date [value]="liturgie.aanvangsDatum"
                                 placeholderText="Aanvangsdatum"
                                 (changedValue)="updateLiturgieDatum($event)"></app-changeable-date>
          </small>
        </div>
        <div class="col">
          <small class="text-muted">
            <app-changeable-time [value]="liturgie.aanvangsTijd"
                                 placeholderText="Aanvangstijd"></app-changeable-time>
          </small>
        </div> -->
      </div>
    </h3>
  </div>
  <div class="card-body">
    <div ngbDropdown
         class="input-group mb-3">
      <div class="input-group-prepend">
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdown1"
                ngbDropdownToggle>Actie</button>
        <div class="dropdown-menu"
             aria-labelledby="dropdown1"
             ngbDropdownMenu>
          <button class="dropdown-item">Actie</button>
          <button class="dropdown-item">Schriftlezing</button>
          <button class="dropdown-item">Lied</button>
          <button class="dropdown-item">Anders</button>
        </div>
      </div>
      <input type="text"
             class="form-control"
             aria-label="Text input with dropdown button">
    </div>
  </div>
</div>
