<span *ngIf="!changeMode"
      class="changeable-value"
      (click)="switchChangeMode()"
      [innerText]="getTime()"
      [ngbTooltip]="tooltipText"
      container="body"></span>
<ngb-timepicker *ngIf="changeMode"
                [(ngModel)]="value"
                [spinners]="false"
                (focus)="activateChangeMode()"></ngb-timepicker>
<!-- <input *ngIf="changeMode"
       type="time"
       class="form-control"
       [value]="value | date:'H:mm'"
       [placeholder]="placeholderText"
       [appAutofocus]="changeMode"
       (focusout)="switchChangeMode()"
       [(ngModel)]="value"
       (input)="setTime($event.target.value)" /> -->
