/* You can add global styles to this file, and also import other style files */

body {
  background-color: lightgrey;
}

.btn {
  border-radius: 0;
}

.jumbotron, .alert, .card {
  border-radius: 0;
  box-shadow: 5px 8px 5px grey;
}